@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Akaya Kanadaka';
    font-size: 20px;
}
body {
    background-color: #F6FFEE; 
 }
.navbar{
    background-color: #DD9BCF; 
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
}

.navbar-nav{
    height: 100%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo .nav-link{
    display: block;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: all 0.2;
}

.we {
    display: none;
    position: fixed;
    bottom: 12px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
}


.logo:hover {
    cursor: pointer;
}

.logo:hover .we{
    display: block;
    cursor: pointer;
}

.logo:hover .nav-link{
    visibility: hidden;
    height: 100px;
    cursor: pointer;
}


@keyframes cardEntrance{
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card {

    align-items: center;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}





.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: 240px;
    --stagger-delay: 100ms;
}
.card:nth-child(1){
    animation-delay: calc(10 * var(--stagger-delay));
}
.card:nth-child(2){
    animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(3){
    animation-delay: calc(9 * var(--stagger-delay));
}
.card:nth-child(4){
    animation-delay: calc(5 * var(--stagger-delay));
}
.card:nth-child(5){
    animation-delay: calc(6 * var(--stagger-delay));
}.card:nth-child(6){
    animation-delay: calc(11 * var(--stagger-delay));
}
.card:nth-child(7){
    animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(8){
    animation-delay: calc(8 * var(--stagger-delay));
}
.card:nth-child(9){
    animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(10){
    animation-delay: calc(10 * var(--stagger-delay));
}
.card:nth-child(11){
    animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(12){
    animation-delay: calc(7 * var(--stagger-delay));
}

@media screen and (min-width: 600px){

.long {
    grid-row: span 2 / auto;
}

.wide {
    grid-column: span 2 / auto;
}
}

@media (max-width: 600px){
    .phone {
        grid-row: span 2 / auto;
    }
}

.sub {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background: #2d3436;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #636e72;
    border-radius: 8px;
  }